*{
    font-family: 'Comic Sans MS';
}
body{
    background-color: aliceblue;
}
.nazov{
    text-align: center;
    font-size: 40px;
}
nav{
    /*background-color: red;*/
    display: flex;
    flex-direction: row;
    margin-left: 5em;
    margin-right: 5em;

}
.nav{
    background-color: red;
    margin-right: 25%;
    margin-left: 25%;
}
.nav a{
    background-color: red;
    margin-right: 5em;
    margin-left: 5em;
    font-size: 19px;
    text-decoration: none;
    color: black;
    vertical-align: bottom;
}
.domov{
    font-size: 23px;
    text-decoration: none;
    color: black;
}
.kontakty{
    list-style: none;
}
footer{
    background-color: rgb(150, 150, 150);
}